<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="PtcFixit.fix_it">

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FIXIT"
        tools:targetApi="34">
        <activity
            android:name=".CochesDespachadosCardActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContraParte2"
            android:exported="false" />
        <activity
            android:name=".BienvenidaFixit"
            android:exported="false" />
        <activity
            android:name=".Inicio2"
            android:exported="false" />
        <activity
            android:name=".Inicio3"
            android:exported="false" />
        <activity
            android:name=".RecuperarContra"
            android:exported="false" />
        <activity
            android:name=".BienenidaInfo3"
            android:exported="false" />
        <activity
            android:name=".BienvenidaInfo2"
            android:exported="false" />
        <activity
            android:name=".BienvenidaInfo1"
            android:exported="false" />
        <activity
            android:name=".Menu1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".RegisterAdmin"
            android:exported="false" />
        <activity
            android:name=".CodigoTaller"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>