<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="PtcFixit.fix_it">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/fixit"
        tools:targetApi="34">
        <activity
            android:name=".RecuperarContra3"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="false"
            android:theme="@style/fixit" />
        <activity
            android:name=".carros_card"
            android:exported="false" />
        <activity
            android:name=".carros_agregar_admin"
            android:exported="false" />
        <activity
            android:name=".login_fixIT"
            android:exported="false" />
        <activity
            android:name=".crear_proveedores"
            android:exported="false" />
        <activity
            android:name=".ProveedorCardActivity"
            android:exported="false" />
        <activity
            android:name=".citas"
            android:exported="false" />
        <activity
            android:name=".Menu1Activity"
            android:exported="false" />
        <activity
            android:name=".carros_admin"
            android:exported="false" />
        <activity
            android:name=".CochesDespachadosCardActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContraParte2"
            android:exported="false"/>
        <activity
            android:name=".BienvenidaFixit"
            android:exported="false" />
        <activity
            android:name=".Inicio2"
            android:exported="false" />
        <activity
            android:name=".Inicio3"
            android:exported="false" />
        <activity
            android:name=".RecuperarContra"
            android:exported="false" />
        <activity
            android:name=".BienenidaInfo3"
            android:exported="false" />
        <activity
            android:name=".BienvenidaInfo2"
            android:exported="false" />
        <activity
            android:name=".BienvenidaInfo1"
            android:exported="false" />
        <activity
            android:name=".proveedores_admin"
            android:exported="false"></activity>
        <activity
            android:name=".repuestos_admin"
            android:exported="false" />
        <activity
            android:name=".RegisterAdmin"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".CodigoTaller"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>